@import "./../../../assets//style//module/breakpoints.scss";
#story{
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    height: 100%;   
    background-color: #ffffff;
    @include media ("<=1175px"){
        height: auto;
        
    }
    
}

.title-story-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}

#our-story {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: baseline;
    width: 95%;
    flex-wrap: wrap;
    @include media ("<=1175px"){
        justify-content: center;

    }


    .text-story-container {
        font-style: normal;
        font-size: 19px;
        line-height: 162.3%;
        /* or 31px */
        color: #717171;
        height: 544px;
        max-width: 530px;
        width: 100%;
        display: flex;
        flex-flow: column;
        @include media('<=phone'){
            height: 775px;
        }
        p{
            margin-bottom: 50px;

        }
    }

}
.techspace-team{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    @include media ("<=tablet"){
        display: none;
        
    }
}

.team-mate{
    text-align: center;
    img{
        width: 100%;
    }
}