@import "./../../../assets/style/module/variables.scss";

#footer{
    height: 50px;
    border-top: 1px solid rgba(133, 195, 230, 0.31);
    position: fixed;
    bottom: 0;
    width: 100%;  
    background: $gradient;  
    padding: 10px;
    display: flex;
    justify-content: space-around;
    z-index: 5;
    a{
        color: white;
    }
    img{
        width: 60px;
    }
}