@import "./../../../assets/style/module/variables.scss";
@import "./../../../assets/style/module/breakpoints.scss";

#blog {
  width: 100vw;
  height: 100%;
  background: $gradient;
  color: $white;
  display: flex;
  align-items: center;
  .underline{
      margin-top: 5px;
      width: 180px;
  }
  .inner-blog{
      width: 1240px;
      height: 700px;
      
      margin: 0 auto;
      .blog-wrapper {
        margin-top: 50px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow-y: scroll;
    
        .blog-article {
          background: radial-gradient(
            80.27% 180.6% at 9.33% 71.2%,
            #0d0d0d 0%,
            #041d2c 100%
            );
            overflow: hidden;
          border: 0.5px solid #d7d7d7;
          box-sizing: border-box;
          border-radius: 40px 0px;
          max-width: 450px;
          width: 100%;
          height: 620px;
          margin-bottom: 40px;
          .image-article-container{
              max-height: 255px;
              overflow: hidden;
          }
          .article-headline {
            display: flex;
            height: 20px;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            .article-title {
              font-family: $proxyL;  
              font-size: 24px;
              line-height: 154.3%;
              font-weight: 200;
              /* or 37px */
    
              color: #ffffff;
    
            }
            .article-time{
                font-size: 10px;
            }
        }
                .article-content {
                    padding: 24px;
                    p{
                        text-align: justify;
                        font-size: 16px;
                        line-height: 154.3%;
    /* or 25px */
                    }
                }
          img {
            width: 100%;
            filter: saturate(0%);
          }
        }
      }
  }
}
