@import "./assets/style/module/variables.scss";
@import "./assets/style/module/breakpoints.scss";
@import "./components/page/Home/home.scss" ;
@import "./components/page/Contact/contact.scss"; 
@import "./components/page/Blog/Blog.scss"; 
@import "./components/page/Dcg/dcg.scss"; 
@import "./components/page/Footer/footer.scss"; 
@import "./components/page/Histoire/histoire.scss"; 
@import "./components/page/Main/main.scss"; 
@import "./components/page/Service/ServiceDetails.scss"; 
@import "./components/page/Service/services.scss"; 
@import "./components/page/Techspace/techspace.scss"; 
@import "./components/page/Webinaire/webinaire.scss"; 
@import "./components/Title/title.scss"; 
@import "./view/Menu/menu.scss"; 




@font-face {
  font-family: "Proxima";
  src: url("./../../fonts/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Proxima-bold";
  src: url("./../../fonts/ProximaNova-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Proxima-light";
  src: url("./../../fonts/ProximaNova-Light.otf") format("opentype");
}

.about {
  margin-top: 200px;
}

#root {
  overflow-x: hidden;
}

h2, h3 {
  font-family: "Proxima-light";
}

button {
  color: #ffffff;
}

body,
html {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: radial-gradient(80.27% 180.6% at 9.33% 71.2%, #041d2c 0%, #020f18 100%);
  overscroll-behavior: none;
  margin: 0;
  font-family: "Proxima";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 1560px;
  min-width: 1560px;
  margin: 0 auto;
  height: 100%;
}

@media (max-width: 1560px) {
  .container {
    width: 1280px;
    min-width: 1280px;
  }
}

@media (max-width: 1366px) {
  .container {
    width: 1080px;
    min-width: 1080px;
  }
}

@media (max-width: 1080px) {
  .container {
    width: 100%;
    min-width: 100%;
  }
}

.container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95%;
  padding: 0 32px;
}

@media (max-width: 425px) {
  .container .row {
    padding: 0 16px;
  }
}

.container .v-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: radial-gradient(80.27% 180.6% at 9.33% 71.2%, #0D0D0D 0%, #041D2C 100%);
}

#loader {
  width: 30vw;
}

path {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.container-fluid {
  width: 95%;
  height: 100%;
}

.container-fluid .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95%;
}

#page {
  width: 100vw;
  height: 100vh;
  overflow: inherit;
}

@media (max-width: 768px) {
  #page {
    height: 100%;
    width: 100%;
  }
}

* {
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=App.css.map */